.containerr {
    width: 300px;
    height: 300px;
    background-color: rgb(39, 82, 68);
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    left: 835px;
    top: 85px;
    font-family: 'Courier New', Courier, monospace;
}

.tipamt {
    color: white;
}

.perperson {
    color: rgb(72, 159, 130);
    position: relative;
    top: -20px;
}

.total {
    top: -200px;
    position: relative;
}

.totall {
    position: relative;
    color: white;
    top:150px;
}

.perpersonn {
    color: rgb(72, 159, 130);
    position: relative;
    top: 130px;
}

.reset {
    margin-top: -100px;
    bottom: 180px;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: cyan;
    border-style: none;
    box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    color: rgb(39, 82, 68);
    outline: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.billl1{
    position: relative;
    margin-left:130px;
    top:-120px;
    color:rgb(8, 174, 119);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.tip111{
    position: relative;
    margin-left:130px;
    top:35px;
    color:rgb(8, 174, 119);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}