body {
    background-color: rgb(208, 249, 235);
}

.container {
    width: 650px;
    height: 430px;
    background-color: white;
    margin: 20px auto auto 30%;
    padding: 20px;
    position: absolute;
    box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 5px -3px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.bill {
    position: relative;
    top: 10px;
    left:7px;
}

.billentry {
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(187, 200, 209);
    padding: 5px;
    outline: none;
    font-size: large;
    position: relative;
    left:5px;
}

.billentry::placeholder {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.percenttip{
position:relative;
left:5px;
}

.bt1 {
    width: 70px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 5px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.bt2 {
    width: 70px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 20px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.bt3 {
    width: 78px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 40px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.bt4 {
    width: 70px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: -60px;
    left: -213px;
    top: 70px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.bt5 {
    width: 70px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: -60px;
    left: -195px;
    top: 70px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.bt6 {
    width: 73px;
    padding-left: 5px;
    height: 50px;
    background-color: rgb(187, 200, 209);
    border-style: none;
    border-radius: 10px;
    position: relative;
    bottom: -60px;
    top: 70px;
    left: -175px;
    font-size: large;
    outline: none;
}
.bt7 {
    width: 255px;
    height: 50px;
    background-color: rgb(39, 82, 68);
    border-style: none;
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: -110px;
    left: 5px;
    top: 110px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    font-weight: bold;
    font-size: large;
}

.bt6::placeholder {

    font-size: small;
    font-family: 'Courier New', Courier, monospace;

}

.people {
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(187, 200, 209);
    padding: 5px;
    position: relative;
    bottom: -90px;
    outline: none;
    font-size: large;
    left:5px;
}

.people::placeholder {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}